html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.stars li {
    list-style: none;
    display: inline-block;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 40vw;
    height: 45vw;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 8vw;
    width: 8vw;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 4vw;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 4vw;
}

/*
 * Styles for the Score Panel
 */

 .score-panel .timer-wraper {
    display: inline-block;
    margin: 0 10px 0 0;
 }

.score-panel {
    text-align: left;
    width: 50vw;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .moves-wraper {
    display: inline-block;
}

/*
 * Styles for the Winning modal
 */

.winning-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
}

.winning-modal-content {
    margin: 100px;
    text-align: center;
}

.end-stars {
    padding: 0;
}

.start-new {
    font-weight: bold;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.start-new:hover,
.start-new:focus {
    cursor: pointer;
}
